body {
    width: 100%;
    font-family: 'Patrick Hand', cursive;

    /* учесть отступ снизу (панель у яндекс браузера на телефоне) */
    min-height: 100dvh;
    padding-bottom: env(safe-area-inset-bottom);
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 220, 220, 1), rgba(255, 220, 255, 1));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    animation: fadeInBackground 2s ease-in-out forwards;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/paw.svg');
    background-size: 80px 80px;
    background-repeat: round;
    background-attachment: fixed;
    z-index: -1;
    animation: fadeInBackground 2s ease-in-out forwards, movePattern 10s linear infinite;
}

@keyframes movePattern {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 80px 80px;
    }
}

.panel {
    background: rgba(255, 220, 220, 0.5);
    backdrop-filter: blur(50px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    filter: blur(20px);

    width: 100%;
    height: 50px;

    z-index: 1;
    position: fixed;
    top: -350px;

    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 50px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.panel.show {
    filter: blur(0);
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
    top: 0; /* вылет */
}

.joy-cat {
    width: 100%;
    height: 100%;

    z-index: 5;
    position: fixed;
    cursor: pointer;

    opacity: 0;
    display: none;
}
.joy-cat-image {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.joy-cat.show {
    display: block;
    animation: showAndFade 2s ease-in-out forwards;
}

.logo-image {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 500px;
    width: 500px;
    animation: fadeInBackground 2s ease-in-out forwards;
    transition: all 0.3s ease;
}

.markdown-block {
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    /* для анимация появления */
    opacity: 0;
    transform: translateY(20px);
}
.markdown-block.visible {
    opacity: 1;
    transform: translateY(0);
    animation: fadeAndMove 3s ease-out forwards;
}
.markdown-block:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#invite_button {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: rgba(255, 220, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    color: black;
    font-size: 3rem;
    cursor: pointer;
    font-family: 'ComicBD', cursive;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    position: sticky;
    top: 10px;
    z-index: 2;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    /* Стили для анимации появления (при загрузке) */
    opacity: 0;
    animation: fadeAndMove 2s ease-out forwards;
}
#invite_button.stuck {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#invite_button:hover {
    background-color: rgba(211, 175, 211, 0.9);
    color: white;
}
#invite_button:active {
    filter: brightness(0.8);
}

@media (max-width: 480px) {
    .logo-image {
        height: 300px;
        width: 300px;
    }

    .markdown-block:hover {
        box-shadow: none;
    }
    .markdown-block:active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    #invite_button:hover {
        background-color: rgba(255, 220, 255, 0.5);
        color: black;
        /* отключение эффектов */
    }
    #invite_button {
        width: calc(100% - 20px);
        margin-top: 20px;
    }
}

@keyframes showAndFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes fadeAndMove {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}