<style>
    .cancel-button {
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);

        z-index: 1;
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 10px;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;

        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .cancel-button.show {
        opacity: 1;
    }
    .cancel-button:hover {
        filter: brightness(0.8);
    }

    .footer-bubble {
        z-index: 3;
        position: fixed;
        bottom: 0;
        right: 10px;
        cursor: pointer;
        opacity: 0;
        transform: translateX(300%);
        animation: slideIn 2s ease-out forwards;
    }

    .bubble-image {
        width: 300px;
        height: 300px;
        transition: all 0.3s ease;
        animation: breathe 3s ease-out 1s infinite;
    }
    .bubble-image:active {
        width: 320px;
        height: 320px;
    }
    .footer-bubble.hidden {
        animation: removeImg 1s ease-out forwards;
    }

    @keyframes breathe {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
    }
    @keyframes removeImg {
        0% { opacity: 1; transform: translateX(0); }
        100% { opacity: 0; transform: translateX(120%); }
    }
    @keyframes slideIn {
        0% { opacity: 0; transform: translateX(120%); }
        100% { opacity: 1; transform: translateX(0); }
    }

    .speech-bubble {
        position: absolute;
        top: -100px;
        left: -10px;
        background: rgba(255, 255, 255);
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        width: 200px;
        font-size: 16px;
    }

    .speech-bubble::after {
        content: '';
        position: absolute;
        bottom: -10px;
        right: 20px;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: white transparent;
    }

    .bubble-image:hover + .speech-bubble {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 480px) {
        .bubble-image {
            width: 100px;
            height: 100px;
        }
        .bubble-image:active {
            width: 120px;
            height: 120px;
        }
        .speech-bubble {
            top: -170px;
            left: -140px;
        }
        .cancel-button:hover {
            filter: none; /* заглушка (отключение эффекта) */
        }
        .cancel-button:active {
            filter: brightness(0.8);
        }

        @keyframes breathe {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }
    }
</style>

<div class="cancel-button">➥</div>
<div class="footer-bubble">
    <img src="img/cat_builder.png" alt="Bot Icon" class="bubble-image">
    <div class="speech-bubble">
        Привет 👋! Вынужден сообщить что бот в активной (иногда) разработке и полноценно работать пока не может. (кликни 3 раза чтобы убрать)
    </div>
</div>
