<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/footer.css">
<footer class="footer">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

    <div class="footer-top-line"></div>
    <div class="footer-content">
        <p class="footer-title" translate="no">FluffBot</p>
        <div class="footer-divider"></div>
        <p class="footer-links">
            <a href="https://discord.gg/4eVSEj9jku" class="footer-link">пон</a> |
            <a href="https://yandex.ru/search/?text=rickroll&clid=2270455&banerid=0702004923%3A16970588470576414719%3A662b2da28f049799fb6919ad&win=643&lr=213" class="footer-link">рикрол</a> |
            <a href="https://example.com/" class="footer-link">еще для красоты</a>
        </p>
        <div id="contributors">

            <div class="contributor-grid">
                <div class="contributor-card">
                    <img src="https://avatars.githubusercontent.com/u/150810031?v=4" alt="егор" class="avatar">
                    <div class="contributor-info">
                        <a href="https://github.com/TWOCHEG" target="_blank" class="contributor-name">TWOCHEG</a>
                        <p class="contributor-description">главный (и единственный)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
